<article class='password-test'>
  <h1 class='password-test__title'>Test your password strength</h1>

  <label class='password-test__label'>
    <input
      class='password-test__input'
      type='password'
      [value]='password'
      (input)='handlePasswordChange($event)'
    >
  </label>

  <article
    class='password-test__strength strength'
    [class.strength--short]='passwordStrength === -1'
    [class.strength--low]='passwordStrength === 1'
    [class.strength--medium]='passwordStrength === 2'
    [class.strength--high]='passwordStrength === 3'
  >
    <div class='strength__block'></div>
    <div class='strength__block'></div>
    <div class='strength__block'></div>
  </article>
</article>
